body{
    padding: 0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
    width: 9px;
  }
  *::-webkit-scrollbar-track {
    background: white;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #737373;
    border-radius: 20px;
    border: 3px solid white;
  }

.loading-div{
    z-index: 1;
    position: fixed;
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-text{
    font-size: 100px;
    color:#737373;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
}

.header-icon{
    padding: 10px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}

.header-icon img{
    width: 20px;
    height: 20px;
    -webkit-app-region:none;
    -webkit-user-select: none;
}

#logOutIcon:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

#reloadIcon:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}
#logOutIcon img{
    margin-top: 3px;
    width: 15px;
    height: 15px;
}

.content-header{
    -webkit-app-region: drag;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #737373;
    padding: 2px;
}

.header-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;

}

.header-pic{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1px;
    border-radius: 22px;
}

.header-pic img{
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 22px;
    border: white solid 1px;
}

.content-itens{
    -webkit-user-select: none;
    position: relative;
    flex-direction: column;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: white;
    padding-bottom: 6px;
}

.header-text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.header-closeBtn{
    -webkit-app-region:none;
    -webkit-user-select: none;
    padding: 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    transition: 0.2s all;
}

.header-closeBtn:hover{
    color:#FFCA28;
    cursor: pointer;
}

.item-container{
    cursor: pointer;
    -webkit-user-select: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    left:0;
    right: 0;
    height: 40px;
    background-color: white;
    margin:2px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2px;
}

.item-span-container{
    -webkit-user-select: none;
    margin-left: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-circle{
    width: 13px;
    height: 13px;
    margin: 5px;
    background-color: transparent;
    border-radius: 50%;
    border: #03DA11 solid 1.5px;
}

.item-green-circle{
    border-color: #03DA11;
}

.item-orange-circle{
    border-color: #F57C00;
}

.header_title{
    color: white;
    margin-left: 9px;
}

.item_title{
    font-size: 14px;
    font-weight: 500;
}

.item_type{
    font-size: 10px;
    font-weight: 300;
}

.item_span{
    color:#707070;
}

button{
    border-style: none;
    outline: none;
}

